In [1]:
!pip install geopandas

Collecting geopandas
  Using cached geopandas-0.7.0-py2.py3-none-any.whl (928 kB)
Requirement already satisfied: shapely in c:\osgeo4~1\apps\python37\lib\site-packages (from geopandas) (1.7.0)
Collecting fiona
  Using cached Fiona-1.8.13.post1.tar.gz (1.2 MB)

    ERROR: Command errored out with exit status 1:
     command: 'c:\osgeo4w64\bin\python3.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\afran\\AppData\\Local\\Temp\\pip-install-0vsgcyqm\\fiona\\setup.py'"'"'; __file__='"'"'C:\\Users\\afran\\AppData\\Local\\Temp\\pip-install-0vsgcyqm\\fiona\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base 'C:\Users\afran\AppData\Local\Temp\pip-pip-egg-info-u54ldztk'
         cwd: C:\Users\afran\AppData\Local\Temp\pip-install-0vsgcyqm\fiona\
    Complete output (1 lines):
    A GDAL API version must be specified. Provide a path to gdal-config using a GDAL_CONFIG environment variable or use a GDAL_VERSION environment variable.
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

Requirement already satisfied: pysal==1.14.4.post2 in c:\osgeo4~1\apps\python37\lib\site-packages (1.14.4.post2)
Requirement already satisfied: scipy>=0.11 in c:\osgeo4~1\apps\python37\lib\site-packages (from pysal==1.14.4.post2) (1.4.1)
Requirement already satisfied: numpy>=1.3 in c:\osgeo4~1\apps\python37\lib\site-packages (from pysal==1.14.4.post2) (1.18.1)

In [2]:
%matplotlib inline
import pandas as pd
from datetime import *
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import time
import os
from pysal.esda.mapclassify import Quantiles, Equal_Interval
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'

In [10]:
mapa = gpd.read_file('mapa/SWE_adm1.shp')
print (mapa)

NameError: name 'gpd' is not defined

In [3]:
# load in new csv file
df = pd.read_csv("dados/time_series_confimed-confirmed.csv", header=0, encoding="utf-8")

df.head()

,Region,Display_Name,Population,Lat,Long,25/02/2020,26/02/2020,27/02/2020,28/02/2020,29/02/2020,...,FHM_Today,Diff,Region_Deaths,FHM_Deaths_Today,At_Hospital,At_ICU,Hospital_Total,ICU_Capacity_2017,FHM_ICU_Est,Tests
0,Region Blekinge,Blekinge,159606.0,56.161560,15.586610,0,0,0,0,0,...,103.0,0.0,4.0,0.0,2.0,1.0,3.0,6,18.0,NaN
1,Region Dalarna,Dalarna,287966.0,60.602778,15.656111,0,0,0,0,0,...,1063.0,-18.0,128.0,0.0,35.0,9.0,44.0,14,30.0,NaN
2,Region Gotland,Gotland,59686.0,57.628889,18.307222,0,0,0,0,0,...,67.0,0.0,4.0,0.0,1.0,1.0,2.0,2,6.0,NaN
3,Region Gävleborg,Gävleborg,287382.0,60.674722,17.144444,0,0,0,0,0,...,1001.0,0.0,90.0,0.0,30.0,12.0,42.0,16,30.0,5600.0
4,Region Halland,Halland,333848.0,56.658333,12.900278,0,0,0,0,0,...,574.0,-4.0,48.0,0.0,16.0,4.0,20.0,13,30.0,NaN

In [5]:
df1 = df.groupby('Display_Name')

df1.head()

,Region,Display_Name,Population,Lat,Long,25/02/2020,26/02/2020,27/02/2020,28/02/2020,29/02/2020,...,FHM_Today,Diff,Region_Deaths,FHM_Deaths_Today,At_Hospital,At_ICU,Hospital_Total,ICU_Capacity_2017,FHM_ICU_Est,Tests
0,Region Blekinge,Blekinge,159606.0,56.161560,15.586610,0,0,0,0,0,...,103.0,0.0,4.0,0.0,2.0,1.0,3.0,6,18.0,NaN
1,Region Dalarna,Dalarna,287966.0,60.602778,15.656111,0,0,0,0,0,...,1063.0,-18.0,128.0,0.0,35.0,9.0,44.0,14,30.0,NaN
2,Region Gotland,Gotland,59686.0,57.628889,18.307222,0,0,0,0,0,...,67.0,0.0,4.0,0.0,1.0,1.0,2.0,2,6.0,NaN
3,Region Gävleborg,Gävleborg,287382.0,60.674722,17.144444,0,0,0,0,0,...,1001.0,0.0,90.0,0.0,30.0,12.0,42.0,16,30.0,5600.0
4,Region Halland,Halland,333848.0,56.658333,12.900278,0,0,0,0,0,...,574.0,-4.0,48.0,0.0,16.0,4.0,20.0,13,30.0,NaN
5,Region Jämtland Härjedalen,Jämtland,130810.0,63.158056,14.679167,0,0,0,0,0,...,559.0,0.0,18.0,0.0,6.0,4.0,10.0,M,13.0,6242.0
6,Region Jönköpings län,Jönköping,363599.0,57.781450,14.156180,1,0,0,1,0,...,1182.0,0.0,117.0,0.0,33.0,11.0,44.0,15,40.0,NaN
7,Region Kalmar län,Kalmar,245446.0,56.669444,16.321667,0,0,0,0,0,...,263.0,0.0,25.0,0.0,30.0,4.0,34.0,11,25.0,NaN
8,Region Kronoberg,Kronoberg,201469.0,56.889167,14.802778,0,0,0,0,0,...,641.0,-9.0,51.0,0.0,27.0,3.0,30.0,8,20.0,NaN
9,Region Norrbotten,Norrbotten,250093.0,65.584819,22.156703,0,0,0,0,0,...,342.0,-7.0,43.0,0.0,18.0,10.0,28.0,17,25.0,NaN
10,Region Skåne,Skåne,1377827.0,55.608755,13.000484,0,0,0,0,0,...,1304.0,0.0,138.0,0.0,71.0,19.0,90.0,54,160.0,11395.0
11,Region Stockholm,Stockholm,2377081.0,59.334591,18.063240,0,0,1,2,1,...,10668.0,0.0,1864.0,0.0,629.0,144.0,773.0,90,250.0,NaN
12,Region Sörmland,Södermanland,297540.0,58.755683,16.994783,0,0,0,0,0,...,1507.0,0.0,204.0,0.0,73.0,24.0,97.0,14,30.0,NaN
13,Region Uppsala,Uppsala,383713.0,59.858820,17.638890,0,0,1,1,0,...,1528.0,-9.0,148.0,0.0,79.0,13.0,92.0,25,40.0,NaN
14,Region Värmland,Värmland,282414.0,59.387500,13.510000,0,0,0,0,0,...,335.0,0.0,24.0,0.0,18.0,4.0,22.0,13,30.0,3573.0
15,Region Västerbotten,Västerbotten,271736.0,63.828333,20.270556,0,0,0,0,0,...,422.0,0.0,19.0,0.0,9.0,4.0,13.0,21,25.0,NaN
16,Region Västernorrland,Västernorrland,245347.0,62.632222,17.938056,0,0,0,0,0,...,456.0,-3.0,64.0,0.0,31.0,10.0,41.0,13,25.0,1933.0
17,Region Västmanland,Västmanland,275845.0,59.607460,16.552150,0,0,0,0,0,...,1042.0,-6.0,129.0,0.0,26.0,6.0,32.0,9,30.0,NaN
18,Västra Götalandsregionen,Västra Götaland,1725881.0,57.708870,11.974560,0,1,3,0,1,...,4442.0,0.0,392.0,0.0,221.0,76.0,297.0,115,180.0,17739.0
19,Region Östergötland,Östergötland,465495.0,58.409444,15.625556,0,0,0,0,0,...,1785.0,-67.0,162.0,0.0,71.0,14.0,85.0,31,50.0,9297.0
20,NaN,Orebro,NaN,NaN,NaN,0,0,0,0,0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN
21,Todays_Total,NaN,NaN,NaN,NaN,1,1,5,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Total,NaN,NaN,NaN,NaN,1,2,7,11,13,...,30799.0,-143.0,NaN,3783.0,1461.0,394.0,NaN,509,1087.0,55779.0

In [6]:
melted = pd.melt(df,  id_vars=['Display_Name'])

melted.head()

  Display_Name variable             value
0     Blekinge   Region   Region Blekinge
1      Dalarna   Region    Region Dalarna
2      Gotland   Region    Region Gotland
3    Gävleborg   Region  Region Gävleborg
4      Halland   Region    Region Halland

In [8]:
df2 = melted.groupby('Display_Name')

df2.head()

        Display_Name    variable             value
0           Blekinge      Region   Region Blekinge
1            Dalarna      Region    Region Dalarna
2            Gotland      Region    Region Gotland
3          Gävleborg      Region  Region Gävleborg
4            Halland      Region    Region Halland
..               ...         ...               ...
108   Västernorrland  25/02/2020                 0
109      Västmanland  25/02/2020                 0
110  Västra Götaland  25/02/2020                 0
111     Östergötland  25/02/2020                 0
112           Orebro  25/02/2020                 0

[110 rows x 3 columns]

In [11]:
covid = mapa.pivot_table(values='nofcases', index=['Display_Name'], columns='reportdate', aggfunc=np.sum)
covid.columns = covid.columns.get_level_values(0)
covid.head()

NameError: name 'mapa' is not defined